/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2014, 11:52:53 AM
    Author     : MIRA
*/

.form-heading{
    /*font-size: 150px !important;*/
}
.student-communication:hover{
    background-color: #ddd;
}

.theses-action{
    /*width:100;*/
    display:inline-block;
    margin: 4px;
    border: 0px solid;
    
     -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.theses-opt-main-button{
    margin-bottom: 10px;
    display: inline;
    /*width:100%;*/
}

.received_message{
    background-color: #285e8e;
    color: white;
}

.sent_message{
    background-color: #eee;
}

.received_message,.sent_message{
    /*margin: 10px;*/
    padding: 15px;
}
.message_container{
    margin: 10px;
}

.message_person_name{
    font-size: 10px;
}