/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2014, 1:50:43 PM
    Author     : MIRA
*/

.menu-holder{
    padding-left: 0px;
    padding-right: 0px;
}


.main_submenu {
    //min-width:auto;
    width:100%;

}.submenu-image{
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

/*hide menu borders and shadings*/
#submenu  {
    background-color: #fff; 
    -webkit-background-clip: none; 
    background-clip: inherit; 
    border: 0px solid #ccc; 
    border: 0px solid rgba(0, 0, 0, .15); 
    border-radius: 0px; 
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175); 
    box-shadow: 0 0px 0px rgba(0, 0, 0, .175);

}

.submenu-container{
    background-color: #2a6496;
    margin: 18px 7px;
    padding: 0px;
    width: 110px;

    margin-bottom: -99999px;
    padding-bottom: 99999px;


}


.submenu-text{
    color:white;
}

#submenu-main-container{
    /* for submenies to have same height*/
    overflow: hidden; 

    width: 85vw;
    background-color: #fff;
    background: rgba(0, 0, 0, 0.0);
    /*border: 1px solid #333;*/ 
}

.submenu-link :hover {
    background-color: #222 !important;
}

/* menu color override */

.navbar-default{
    background-color: #285e8e;
    color: #fff;
    border: 0px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.navbar-default .navbar-nav > li > a{
    margin-left: 6px;
    margin-right: 6px;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.badge-message {
    background-color: red;
    margin-right: 5px;

}

.badge-request {
    background-color: green;
    margin-right: 5px;

}

.notif-message {
    color: red;
    margin-right: 5px;

}

.notif-request {
    color: green;
    margin-right: 5px;

}


.navbar-default .navbar-nav > li > a:hover {
    color: #ddd;
}

.navbar-brand:hover {
    color: #ddd;
}

.navbar-default .navbar-brand:hover {
    color: #ddd;
}

.badge:hover{
    /*background-color: #b92c28;*/
}

/* end of hover properties*/

/* Active dropdown properties */

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    /* color: #555; */
    /*background-color: #245269;*/
    /*color:white;*/
}

.dropdown-menu{
    /*color: #fff;*/
    /*background-color: #ddd;*/
    /*    border: 0px solid #ccc; 
        border: 0px solid rgba(0, 0, 0, .15); 
        border-radius: 0px; 
    */
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0); 
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0); 
}

.dropdown-menu > li > a{
    /*color: #fff;*/
}

.logout-btn{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    width: 100%;
    height: 100%;
    text-align: left;
}
